body {
    margin: 0;
    font: 20px Verdana;
    box-sizing: border-box;
    position: relative;
}

main {
    display: flex;
    
    /*margin-top: 20px;*/
}

.modal {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 100px;
    left: 100px;
    background-color:royalblue;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.agree{
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: white;
    background-color:navy;
    width: 140px;
    font-size: 15px;
    line-height: 20px;
    border: white;
}

.ten, .rnd{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius:20px;
    width: 23%;
    height: 25px;
    background-color:lightblue;
    color: navy;
    border: navy;
}

.rnd{
    width: 63%;
}


.quit::before{
    position: absolute;
    right: 10px;
    top: 20px;
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}
.quit::after{
    position: absolute;
    right: 10px;
    top: 20px;
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}

form{
    display: block;
    margin-top: 20%;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

label {
    display: block;
}

.right {
    margin-left: 60px;
    margin-top: 50px;
    text-align: center;
}

.status {
    height: 20px;
    margin: 20px 0;
    color: darkblue;
    font-size: 15px;
}

.play {
    font: 15px Helvetica;
    padding: 5px;
    border-radius: 10%;
    background-color: aquamarine;
}